<div id="<%= dom_id job_position %>">
  <p>
    <strong>Title:</strong>
    <%= job_position.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job_position.description %>
  </p>

</div>
