<h1>Editing job position</h1>

<%= render "form", job_position: @job_position %>

<br>

<div>
  <%= link_to "Show this job position", @job_position %> |
  <%= link_to "Back to job positions", job_positions_path %>
</div>
